<style>
    body{
        margin: 0;
    }

    .mainDiv{
        background-color: khaki;
        height:100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }

    .loginDiv{
        background: white;
        height: 25vh;
        width: 55vw;
        border-radius: 20px;
        border-width: thin;
    }

    .loginDiv > label{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
</style>

<div class="mainDiv">
    <h1>GoPark</h1>
    <div class="loginDiv">
        <label>
            <div>Login:</div>
            <input>
        </label>
    </div>
</div>
